.a{
    color: white;
    background-color: #ab00ab;
}
.b{
    color: white;
    background-color: #fc00fc;
}
.c{
    border: 1px solid purple;
}
.d{
    margin-top: -300px;
}
.e{
    border: 1px solid blue;
}
.f{
    border: 1px solid red;
}
.g{
    border: 1px solid green;
}
.h{
    width: 250px;
}
.m{
    border: 1px solid whitesmoke;
}