.a{
    width: 50px;
}
.b{
    border: 1px solid lightgray;
}
.c{
    width: 15px;
    height: 15px;
    margin-top: -25px;
}
.d{
    margin-left: 120px;
}
.e{
    margin-left: 90px;
}
.f{
    margin-left: 150px;
}