.a{
    border-bottom: 1px solid gray;
}
.b{
    margin-left: 850px;
    font-size: 20px;
}
.c{
    background-color: black;
}
.d{
    width: 40px;
    height: 50px;
    border-radius: 50%;
}
.e
{
    font-size: 14px;
    text-align: center;
}